@font-face {
    font-family: Mixo;
    src: url(../../fonts/Compagnon-Roman.woff);
}

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

html {
    /* background: url("../img/2.png"); */
    background-image: linear-gradient(180deg, #468dff 10%, #e1ffea 60%, #fff8f560 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;

}

.wrapper {
    position: relative;
}

.block {
    display: none;
}


a,
.button {
    color: #000;
    background: #8cffa7de;
    text-decoration: none;

    /* border-bottom: 1px black solid; */
    cursor: pointer;
    transition: all 0.8s ease;
}

a:hover,
.button:hover {
    background: url('../../img/hov7.gif');
    color: #000;
    border: 1px solid;
    box-shadow: 5px 5px;
    cursor: pointer;
}

h1 a {
    text-decoration: none;
}

h2.centFocus {
    color: #000;
    text-align: center;
    margin-top: 2em;
    transition: all 0.5s ease;
    font-family: 'Source Sans Pro';
    padding-bottom: 0;
}

h2.centFocus:hover {
    color: #fff;
    cursor: pointer;
}

.headingText {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 1em;
}

.headingText h4 {
    text-align: center;
}

.headingText h4:not(:last-child) {
    padding-right: 2em;
}

.content {
    width: 1100px;
    margin: 0 auto;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
    text-transform: uppercase;
    letter-spacing: .1em;
    text-align: center;
}

h1 {
    margin: 1em 0 1em 0;
    padding: 0;
    text-decoration: none;
    /* font-weight: normal; */
    font-size: 2.5.em;
    line-height: 2em;
    text-align: center;
}

.container > h2{
    font-family: 'Mixo';
    text-align: center;
    font-size: 2.5em;
    line-height: 2.6em;
    text-shadow: 9px 9px 10px #ecfef2b2;
    padding-left: 2em;
    padding-right: 2em;
    margin: 0;
}

h2 {
    /* font-weight: normal; */
    font-size: 1.75em;
    /* margin-top: 0; */
    /* padding-bottom: 0em; */
}

h3 {
    text-transform: uppercase;
    font-size: 1.35em;
    font-weight: normal;


}

h4{
    padding-bottom: 2em;
}


p {
    /* margin-top: 0px; */
    padding-bottom: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    /* padding: 0; */
    margin: 0;
    /* margin-bottom: 1em; */
}

section {
    padding-bottom: 2em
}

.container {
    max-width: 1900px;
    height: 100vh;
    margin: 0 auto;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    padding-left: 2em;
    padding-right: 2em;
    height: 100%;
}

.vid,
.vid img {
    text-align: center;
}

.embedVid {
    /* border: 1px solid; */
    padding: 10px;
    box-shadow: 10px 12px 30px #000;
    transition: 0.3s;
    background: #fff;
}
iframe {
    background: black;
}
.imgCont {
    box-shadow: 10px 12px #000;
    transition: 0.3s;
    max-width: 100%;
}


video:hover,
img:hover {
    cursor: pointer;
    background-color: #9fff99;
}

.laterDate{
    background: url("../../img/histranger.png");
    background-size: cover;
}


.v01 {
    grid-column: 1;
    grid-row: 1;
}

.v02 {
    grid-column: 2;
    grid-row: 2;
}

.v03 {
    grid-column: 3;
    grid-row: 1;
}

.v04 {
    grid-column: 1;
    grid-row: 3;
}

.v05 {
    grid-column: 2;
    grid-row: 4;
}

.v06 {
    grid-column: 3;
    grid-row: 3;
}

.v07 {
    grid-column: 1;
    grid-row: 5;
}

.v08 {
    grid-column: 2;
    grid-row: 6;
}

.v09 {
    grid-column: 3;
    grid-row: 5;
}

.v10 {
    grid-column: 1;
    grid-row: 7;
}

.v11 {
    grid-column: 3;
    grid-row: 7;
}

.v12 {
    grid-column: 2;
    grid-row: 8;
}

.v13 {
    grid-column: 1;
    grid-row: 9;
}

.v14 {
    grid-column: 3;
    grid-row: 9;
}

.v15 {
    grid-column: 2;
    grid-row: 10;
}

.v16 {
    grid-column: 1;
    grid-row: 11;
}

.v17 {
    grid-column: 3;
    grid-row: 11;
}

.v18 {
    grid-column: 2;
    grid-row: 12;
}
.v19 {
    grid-column: 1;
    grid-row: 13;
}
.v20 {
    grid-column: 3;
    grid-row: 13;
}


@media screen and (max-width: 800px) {
    .grid {
      

    }


}

@media screen and (max-width: 1100px) {
    .container > h2 {
        font-size: 1.9em;
        line-height: 1em;

    }


    .grid {
        padding-left: 2em;
        padding-right: 2em;
        display: flex;
        flex-direction: column;
    }

}
